<ul class="nav nav-pills nav-stacked">
<!--
	<li role="presentation"></li>
	<li role="presentation"></li>
	<li role="presentation"><a href="">Test</a></li>
	<li role="presentation"><a href="">Test</a></li>
	<li role="presentation"><a href="">Test</a></li>
	<li role="presentation"><a href="">Test</a></li>
	<li role="presentation"><a href="">Test</a></li>
	<li role="presentation"><a href="">Test</a></li>
-->
</ul>